.navWrapper {
  background-color:#4A4C60;
}

.navWrapper a {
  color:#888996;
  padding:15px;
}

.navLeft {
  float:left;
  margin-top:15px;
  text-transform:uppercase;
}

.navRight {
  float:right;
  margin-top:15px;
  text-transform:uppercase;
}

.navSettingsButton {
  margin-top:-5px;
  margin-right:10px;
}
